/*----------------*/
/* General styles */
/*----------------*/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}

/*----------------*/
/* Reusable styles */
/*----------------*/
.row {
    display: flex;
    justify-content: space-around;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.button {
    color: #e6e6e6;
    background: #0a0a0a;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
}

.button:hover:enabled {
    background: linear-gradient(#1a1a1a, #0a0a0a);
    color: #fff;
    text-decoration: none;
}

.button:active {
    transform: translateY(1px);
}

/*----------------*/
/* SelectLanguage */
/*----------------*/

.languages {
    display: flex;
    justify-content: center;
}

.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}

/*----------------*/
/* RepoGrid */
/*----------------*/

.popular-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.popular-item {
    margin: 20px;
    text-align: center;
}

.popular-rang {
    font-size: 20px;
    margin: 10px;
}

.space-list-item {
    margin-bottom: 7px;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

/*----------------*/
/* Nav */
/*----------------*/

.nav {
    display: flex;
}

.nav li {
    margin-left: 15px;
}

.active {
    font-weight: bold;
}

/*----------------*/
/* Home */
/*----------------*/

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*----------------*/
/* Battle */
/*----------------*/
/* PlayerInput */

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.column input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.43);
    font-size: 16px;
    width: 80%;
}

.column label {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

.header {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

/* PlayerPreview */

.reset {
    border: none;
    background-color: transparent;
    color: red;
    text-align: center;
    display: block;
    width: 100%;
}

.reset:hover {
    cursor: pointer;
}